[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
pillow = "*"
django-heroku = "*"
gunicorn = "*"
validate-email = "*"
six = "*"
coverage = "*"
codecov = "*"
djangorestframework = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
