<header class="header">
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TrulyExpenses</a>

        <ul class="navbar-nav px-3" style="display: flex; flex-direction: row; align-items: center">
            <li class="nav-item text-nowrap">
                <span class="nav-link" href="#"> Clement Phiri </span>
            </li>

            <li class="nav-item text-nowrap mt-3 ml-2">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input class="text text-capitalize" type="submit" value="Sign out" />
                </form>
            </li>
        </ul>
    </nav>
</header>
